{% load static %}
<header class="header" id="header">
    <button onclick="toggleHeader(event)">
        <img src="{% static 'images/icons/close.svg' %}" alt="Меню">
    </button>
    <a href="{% url 'home' %}" class="header__logo">
        <img src="{% static 'images/logo/logo-white.png' %}" alt="expoWeld">
    </a>
    <nav class="header__nav">
        <div class="header__nav_link header__nav_link--pc header__nav_link__floating">
            <a class="header__nav_link" href="{% url 'category_list' %}">Каталог</a>
            <div class="nav__floating">
                {% for category in context_categories %}
                    <a class="header__nav_link"
                       href="{% url 'category_detail' slug=category.slug %}">{{ category.name }}</a>
                {% endfor %}
            </div>
        </div>
        <a class="header__nav_link header__nav_link--mobile" href="{% url 'category_list' %}">Каталог</a>
        <a href="{% url 'about' %}" class="header__nav_link">О компании</a>
        <div class="header__nav_link header__nav_link--pc header__nav_link__floating">
            <a class="header__nav_link" href="{% url 'services' %}">Услуги</a>
            <div class="nav__floating nav__floating--small">
                <a class="header__nav_link" href="{% url 'services.demonstration' %}">Демонстрация</a>
                <a class="header__nav_link" href="{% url 'services.delivery' %}">Доставка</a>
                <a class="header__nav_link" href="{% url 'services.warranty' %}">Гарантия</a>
                <a class="header__nav_link" href="{% url 'services.repair' %}">Ремонт</a>
                <a class="header__nav_link" href="{% url 'services.leasing' %}">Лизинг</a>
            </div>
        </div>
        <a class="header__nav_link header__nav_link--mobile" href="{% url 'services' %}">Услуги</a>
        <a class="header__nav_link header__nav_link--mobile" href="{% url 'services.demonstration' %}">Демонстрация</a>
        <a class="header__nav_link header__nav_link--mobile" href="{% url 'services.delivery' %}">Доставка</a>
        <a class="header__nav_link header__nav_link--mobile" href="{% url 'services.warranty' %}">Гарантия</a>
        <a class="header__nav_link header__nav_link--mobile" href="{% url 'services.repair' %}">Ремонт</a>
        <a class="header__nav_link header__nav_link--mobile" href="{% url 'services.leasing' %}">Лизинг</a>
        <a href="{% url 'brand_list' %}" class="header__nav_link">Бренды</a>
        <a href="{% url 'contacts' %}" class="header__nav_link">Контакты</a>
    </nav>
    <div class="header__contacts">
        <a href="tel:+79158689998">+7 (915) 868-99-98</a>
        {% include 'include/search_form.html' %}
    </div>
</header>
<header class="header__mobile">
    <a href="{% url 'home' %}" class="header__logo">
        <img src="{% static 'images/logo/logo-white.png' %}" alt="expoWeld">
    </a>
    <button onclick="toggleHeader(event)">
        <img src="{% static 'images/icons/menu.svg' %}" alt="Меню">
    </button>
</header>