body {
    margin: 0;
    padding: 0;

    font-family: var(--ff), sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    font-size: var(--fs-base);
    line-height: 1.6;
    color: var(--color-white);
    background-color: var(--color-black);
}

*,
*:before,
*:after {
    padding: 0;
    box-sizing: border-box;
}

*::selection {
    background-color: var(--color-selection);
}

*:focus {
    outline: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    width: 100%;
    text-align: left;
    font-weight: 900;
    color: var(--color-white);
    font-size: var(--fs-l);
    font-family: var(--ff), sans-serif;
    margin: 0;
}

h1 {
    font-size: var(--fs-xxl);
    margin-bottom: var(--spacing-xxl);
}

h2 {
    font-size: var(--fs-xl);
    margin-bottom: var(--spacing-xl);
}

h3 {
    font-size: var(--fs-l);
    margin-bottom: var(--spacing-l);
}

h4 {
    font-size: var(--fs-m);
    margin-bottom: var(--spacing-m);
}

h5 {
    font-size: var(--fs-base);
    margin-bottom: var(--spacing-base);
}

h6 {
    font-size: var(--fs-s);
    margin-bottom: var(--spacing-s);
}

.subtitle {
    font-size: var(--fs-m);
    font-weight: 300;
    margin-bottom: var(--spacing-xl);
    margin-top: calc(var(--spacing-xl) * -1);
    text-align: left;
}

a,
button {
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
    border: none;
    cursor: pointer;
    color: var(--color-white);
    font-size: var(--fs-base);
    font-family: var(--ff), sans-serif;

    transition: color 0.2s ease, background-color 0.2s ease;
}

.button {
    font-size: var(--fs-m);
    line-height: 1.6;
    font-weight: 700;
    padding: var(--spacing-m) var(--spacing-xl);
    color: var(--color-black);
    background-color: var(--color-white);
    display: flex;
    gap: var(--spacing-m);
    align-items: center;
    justify-content: center;
    border-radius: var(--spacing-xl);
    border: 1px solid var(--color-white);
    box-shadow: var(--box-shadow);

    transition: color 0.2s ease, border-color 0.2s ease;
}

.button:hover {
    color: var(--color-red);
    border-color: var(--color-red);
}

.button.button--icon {
    flex-direction: column;
    gap: 0;
    width: var(--fs-xxl);
    max-width: var(--fs-xxl);
    height: var(--fs-xxl);
    max-height: var(--fs-xxl);
    padding: 0;
}

.button.button--icon img {
    width: 80%;
    height: auto;
    object-fit: cover;
    object-position: center;

    transition: opacity 0.2s ease;
}

.button.button--icon.button--icon--transparent {
    background-color: transparent;
    border: none;
    box-shadow: none;
}

.button.button--icon.button--icon--transparent:hover img {
    opacity: 0.5;
}

a:hover {
    color: var(--color-red);
}

section {
    padding: var(--spacing-xxl) 0;
}

b {
    font-weight: 900;
}

.hidden {
    display: none !important;
}

.container {
    width: 100%;
    max-width: calc(1400px + var(--spacing-xxl) * 2);
    padding: 0 var(--spacing-xxl);
    margin: 0 auto;
    text-align: center;
    height: auto;
}

.page {
    overflow: hidden;
    background-color: var(--color-black);
    width: 100%;
    padding: 0;
    margin-top: 94px;
}

.to_top {
    position: fixed;
    top: auto;
    left: auto;
    right: var(--spacing-xxl);
    bottom: var(--spacing-xxl);
    z-index: 100;
}

/* Slick */
.slick-arrow {
    width: var(--fs-l) !important;
    height: var(--fs-l) !important;
    opacity: 1 !important;
}

.slick-arrow:before {
    color: var(--color-white);
    font-size: var(--fs-l);
    opacity: 1 !important;

    transition: color 0.2s ease;
}

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
    color: var(--color-red);
}

.slick-prev {
    left: auto;
    right: calc(100% + var(--spacing-l));
}

.slick-next {
    right: auto;
    left: calc(100% + var(--spacing-l));
}

/* Accordion */
.acc_head {
    padding: var(--spacing-l) !important;
    margin-bottom: 0;
    color: var(--color-black);
}

.acc_content {
    padding: var(--spacing-m) !important;
    font-size: var(--fs-m);
    font-weight: 300;
    text-align: left;
    background-color: var(--color-white);
    color: var(--color-black);
}

.accordionjs .acc_section {
    border-color: var(--color-gray-dark);
}

.accordionjs .acc_section.acc_active > .acc_head {
    background-color: var(--color-gray-light);
    border-color: var(--color-gray-dark);
}

.accordionjs .acc_section:first-of-type,
.accordionjs .acc_section:first-of-type .acc_head {
    border-top-left-radius: var(--spacing-base);
    border-top-right-radius: var(--spacing-base);
}

.accordionjs .acc_section:last-of-type,
.accordionjs .acc_section:last-of-type .acc_content {
    border-bottom-left-radius: var(--spacing-base);
    border-bottom-right-radius: var(--spacing-base);
}

/* Header */
.header__mobile {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: auto;
    width: 100%;
    height: 94px;
    display: none;
    align-items: center;
    justify-content: space-between;
    padding: var(--spacing-l) var(--spacing-xxl);
    background-color: var(--color-black);
    z-index: 100;
    box-shadow: var(--box-shadow);
}

.header__mobile button {
    width: var(--fs-xxl);
    height: var(--fs-xxl);
    background-color: transparent;
}

.header__mobile button img {
    width: 100%;
    height: auto;
    object-fit: contain;
    object-position: center;
}

.header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
    z-index: 1000;
    box-shadow: var(--box-shadow);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: var(--spacing-l) var(--spacing-xxl);
    background: url('/static/images/header_bg.png') left no-repeat;
    background-size: cover;
}

.header > button {
    display: none;
}

.header__logo {
    max-width: 350px;
    margin-right: 150px;
}

.header__logo img {
    transition: opacity 0.2s ease;
}

.header__logo:hover img {
    opacity: 0.5;
}

.header__logo img {
    width: 100%;
    height: auto;
    object-fit: contain;
    object-position: center;
}

.header__contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    text-align: right;
}

.header__nav {
    display: flex;
    width: 100%;
    border-radius: var(--spacing-base);
    margin-right: var(--spacing-l);
    height: auto;
}

.header__nav_link {
    font-size: var(--fs-l);
    flex: 1;
    color: var(--color-white);
    text-align: center;
    align-content: center;
    vertical-align: middle;

    transition: color 0.2s ease;
}

.header__nav_link.header__nav_link--mobile {
    display: none !important;
}

.header__nav_link:hover {
    color: var(--color-red);
}

.header__nav_link__floating > .header__nav_link {
    line-height: calc(var(--fs-l) * 1.6);
    height: 100%;
    display: inline-block;
}

.nav__floating {
    display: none;
    position: absolute;
    top: 100%;
    left: var(--spacing-l);
    min-width: 350px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    gap: var(--spacing-base);
    background-color: var(--color-black);
    border-radius: 0 0 var(--spacing-base) var(--spacing-base);
    padding: var(--spacing-l);
}

.nav__floating.nav__floating--small {
    min-width: 180px;
}

.header__nav_link__floating {
    position: relative;
    color: var(--color-white);
    transition: color .1s ease;
    display: inline-block;
}

.header__nav_link__floating:hover .nav__floating {
    display: flex;
}

.nav__floating .header__nav_link {
    font-size: var(--fs-base);
    text-align: left;
}

/* Subheader */
.subheader {
    width: 100%;
    padding: var(--spacing-xxl) 0;
    background-color: var(--color-gray-light);
}

.subheader * {
    color: var(--color-black);
}

.subheader__inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: var(--spacing-m);
}

.subheader__inner h1 {
    margin-bottom: 0;
    text-transform: uppercase;
}

.subheader__breadcrumbs {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--fs-m);
}

.subheader__breadcrumbs_breadcrumb {
    transition: color 0.2s ease;
    position: relative;
}

.subheader__breadcrumbs_breadcrumb:not(:last-child) {
    padding-right: var(--spacing-m);
}

.subheader__breadcrumbs_breadcrumb:not(:first-child) {
    margin-left: var(--spacing-m);
}

.subheader__breadcrumbs_breadcrumb:not(:last-child):after {
    content: '';
    display: inline-block;
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    width: 1px;
    height: 100%;
    background-color: var(--color-black);
    transform: rotate(16deg);
}

.subheader__breadcrumbs_breadcrumb[href]:hover {
    color: var(--color-red);
}

/* Footer */
.footer {
    background-color: var(--color-black);
    padding: var(--spacing-xxl);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-xxl);
}

.footer * {
    color: var(--color-white);
    text-align: left;
}

.footer__ending {
    font-weight: 300;
    font-size: var(--fs-base);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-base);
    text-align: center;
    margin: var(--spacing-base) auto 0;
}

.footer__ending * {
    color: var(--color-gray-dark);
}

.footer__ending a {
    font-size: var(--fs-base);
    text-decoration: underline;
    text-align: center;
}

.footer a:hover {
    color: var(--color-red);
}

.footer__inner {
    display: flex;
    gap: var(--spacing-xxl);
}

.footer__col {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.footer__col:first-child {
    flex: 2;
}

.footer__logo {
    width: 300px;
    height: auto;
    margin-bottom: var(--spacing-l);
}

.footer__logo img {
    width: 100%;
    height: auto;
    object-fit: contain;
    object-position: center;

    transition: opacity 0.2s ease;
}

.footer__logo:hover img {
    opacity: 0.5;
}

/* Search */
.search {
    position: relative;
}

.search .button {
    position: absolute;
    top: 0;
    bottom: 0;
    left: auto;
    right: var(--spacing-base);
    width: var(--fs-xl) !important;
    height: auto !important;
    object-fit: contain;
    object-position: center;
    margin: auto 0;
}

.search input {
    font-size: var(--fs-base);
    color: var(--color-black);
    background-color: var(--color-gray-light);
    border: 1px solid var(--color-gray-dark);
    padding: var(--spacing-base);
    padding-right: var(--spacing-xxl);
    border-radius: var(--spacing-base);
    box-shadow: var(--box-shadow);
}

.card__item {
    border-radius: var(--spacing-base) !important;
    display: flex !important;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--spacing-m);
    border: 1px solid var(--color-gray-light);
    background-color: var(--color-white);
    height: 100%;
}

.card__item__img {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: var(--spacing-l);
}

.card__item__img img {
    width: 100%;
    height: auto;
    object-fit: contain;
    object-position: center;
}

.card__item__title {
    width: 100%;
    max-width: 100%;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.card__item__title span {
    color: var(--color-gray-dark);
    font-size: var(--fs-s);
}

.card__item__title a {
    color: var(--color-red);
    font-size: var(--fs-m);
    margin-bottom: var(--spacing-m);

    transition: color 0.2s ease;
}

.card__item__title a:hover {
    color: var(--color-red-hovered);
}

.card__item__description {
    font-size: var(--fs-s);
    margin-bottom: var(--spacing-s);
    width: 100%;
    max-width: 100%;
    text-align: left;
    color: var(--color-black);
}

.card__item__price {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: auto;
    padding-top: var(--spacing-l);
}

.card__item__price span:first-child {
    color: var(--color-gray-dark);
}

.card__item__price span:last-child {
    color: var(--color-purple);
    font-size: var(--fs-l);
}

.card__item__list * {
    color: var(--color-gray-dark);
    font-size: var(--fs-s);
}

.card__item__list li {
    text-align: left;
    margin-bottom: var(--spacing-s);
}

.catalog__empty {
    font-size: var(--fs-xxl);
    margin-bottom: var(--spacing-xxl);
    grid-column: span 4;
}
