.about p,
.about li {
    font-size: var(--fs-m);
}

.about h2 {
    margin-bottom: 0;
}

.about__inner {
    margin-bottom: var(--spacing-xl);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-xl);
    text-align: left;
}

.about__text {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-m);
}

.about__list li {
    display: list-item;
    list-style: disc;
    margin-left: var(--spacing-xl);
}

.about__list li::marker {
    color: var(--color-red);
}

.about__logos {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-l);
    flex-wrap: wrap;
}

.about__logos img {
    flex: 1;
    height: auto;
    object-fit: contain;
    border-radius: var(--spacing-base);
    max-width: 25%;
}