/* List */
.brands__inner {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: var(--spacing-xxl);
    grid-row-gap: var(--spacing-xxl);
}

.brand__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.brand__image {
    object-fit: contain;
    width: 100%;
    height: auto;
}

/* Detail */
.brand__inner {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: var(--spacing-l);
    text-align: left;
}

.brand__left {
    max-width: 60%;
}

.brand__left h2 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
    gap: var(--spacing-base);
}

.brand__logo {
    max-width: 600px;
    max-height: 350px;
    object-fit: contain;
    object-position: center;
}
