.brands__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-xxl);
}

.brand__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-xl);
}

.brand__image {
    object-fit: contain;
    max-height: 300px;
    width: 100%;
    max-width: 500px;
}

.brand__title {
    text-align: center;
    text-transform: uppercase;
    height: auto;
    cursor: auto;

    transition: color .2s ease;
}

.brand__title[href] {
    cursor: pointer;
    color: var(--color-red);
}

.brand__title h2 {
    margin: 0;
}

.brand__description {
    max-width: 70%;
}
