.catalog__block {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--spacing-xl);
}

.catalog__block form {
    min-width: 300px;
}

.catalog__block form button {
    margin-bottom: var(--spacing-m);
    width: fit-content;
}

.catalog__block form a {
    width: fit-content;
}

.catalog__inner {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: var(--spacing-l);
    grid-row-gap: var(--spacing-l);
}

.categories {
    width: 100%;
    padding: 0;
}

.categories__inner {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: var(--spacing-m);
    padding: var(--spacing-xl) 0;
    border-bottom: 1px solid var(--color-white);
}

.categories__inner span {
    color: var(--color-white);
    font-size: var(--fs-base);
}

.categories__item {
    font-size: var(--fs-base);
    transition: color 0.2s ease;
    text-transform: uppercase;
}

.categories__item:hover {
    color: var(--color-red);
}
