/* Intro */
.intro {
    background-color: var(--color-white);
}

.intro__inner img {
    border-radius: var(--spacing-base);
    overflow: hidden;
    width: 100%;
    height: auto;
}

/* Popular products */
.popular_products__block .slick-slide {
    margin: 0 var(--spacing-l);
    border-radius: var(--spacing-base);
    overflow: hidden;
    min-height: 630px;
}

.popular_products__block .slick-list {
    margin: 0 calc(var(--spacing-l) * -1);
}

.popular_products__link {
    margin-top: var(--spacing-l);
    width: fit-content;
}

/* Brands */
.brands__block .slick-slide {
    margin: 0 var(--spacing-l);
    height: 200px;
    border-radius: var(--spacing-base);
    overflow: hidden;
}

.brands__block .slick-list {
    margin: 0 calc(var(--spacing-l) * -1);
}

/* Questions */
.questions {
    background-color: var(--color-white);
}

.questions * {
    color: var(--color-black);
}

/* Video */
.videos__block iframe {
    height: 300px;
    margin: 0 var(--spacing-l);
    border-radius: var(--spacing-base);
    overflow: hidden;
}

.videos__block .slick-list {
    margin: 0 calc(var(--spacing-l) * -1);
}