{% extends 'base.html' %}
{% load static %}
{% block title %}О компании{% endblock %}
{% block head_page_styles %}
    <link rel="stylesheet" href="{% static 'css/pages/about.css' %}"/>
{% endblock %}
{% block content %}
    <section class="subheader">
        <div class="container">
            <div class="subheader__inner">
                <h1 class="title">О нас</h1>
                <div class="subheader__breadcrumbs">
                    <a href="{% url 'home' %}" class="subheader__breadcrumbs_breadcrumb">Главная</a>
                    <a href="{% url 'about' %}" class="subheader__breadcrumbs_breadcrumb">О нас</a>
                </div>
            </div>
        </div>
    </section>
    <section class="about" id="about">
        <div class="container">
            <div class="about__inner anim-item">
                <h2>О компании</h2>
                <div class="about__text">
                    <p>
                        Expo Weld, крупная компания в сфере сварки, предоставляющая широкий спектр услуг для клиентов в
                        Тамбове и Тамбовской области.
                    </p>
                    <p>
                        Ежемесячно тысячи людей обращаются к нам за качественным сварочным оборудованием и
                        профессиональными услугами. Expo Weld предлагает широкий ассортимент оборудования, доставку,
                        ремонт и лизинг для успешного бизнеса в сфере сварки.
                    </p>
                    <p>
                        В нашем ассортименте представлено сварочное оборудование ведущих мировых брендов, которое
                        подходит как для начинающих специалистов, так и для профессионалов своего дела.
                    </p>
                    <p>
                        Expo Weld – это то место, куда можно обратиться, если вам необходимо быстро и качественно
                        выполнить сварочные работы. Мы всегда готовы предоставить необходимое оборудование и
                        профессиональные услуги, чтобы помочь вам в нужную минуту.
                    </p>
                </div>
            </div>
            <div class="about__inner anim-item">
                <h2>Наши преимущества</h2>
                <div class="about__text">
                    <p>Expo Weld – это:</p>
                    <ul class="about__list">
                        <li>
                            Широкий ассортимент сварочного оборудования от ведущих мировых брендов
                        </li>
                        <li>Оборудование всегда в наличии</li>
                        <li>Грамотные продавцы-консультанты</li>
                        <li>Доставка, ремонт и лизинг оборудования</li>
                    </ul>
                    <p>Доверяйте свой бизнес профессионалам, доверяйте Expo Weld!</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}