{% extends 'base.html' %}
{% load static %}
{% block title %}Контакты{% endblock %}
{% block head_page_styles %}
    <link rel="stylesheet" href="{% static 'css/pages/contacts.css' %}"/>
{% endblock %}
{% block content %}
    <section class="subheader">
        <div class="container">
            <div class="subheader__inner">
                <h1 class="title">Контакты</h1>
                <div class="subheader__breadcrumbs">
                    <a href="{% url 'home' %}" class="subheader__breadcrumbs_breadcrumb">Главная</a>
                    <a href="{% url 'contacts' %}" class="subheader__breadcrumbs_breadcrumb">Контакты</a>
                </div>
            </div>
        </div>
    </section>
    <section class="contacts anim-item">
        <div class="container">
            <div class="contacts__inner">
                <h2>Наши контакты</h2>
                <ul class="contacts__list">
                    <li class="contacts__item">
                        <a href="https://yandex.ru/maps/-/CDGwZZ74" class="contacts__item_text">
                            г. Тамбов, ул. Бастионная, д. 8т
                        </a>
                        <a href="tel:+79158600900" class="contacts__item_text">+7 (915) 860-09-00</a>
                        <a href="mailto:ipmiroahnik68@mail.ru" class="contacts__item_text">expoweld@mail.ru</a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section class="contacts__map anim-item">
        <div style="position:relative;overflow:hidden;">
            <div style="position:relative;overflow:hidden;">
                <a href="https://yandex.ru/maps/13/tambov/?utm_medium=mapframe&utm_source=maps"
                   style="color:#eee;font-size:12px;position:absolute;top:0px;">
                    Тамбов
                </a>
                <a href="https://yandex.ru/maps/13/tambov/house/bastionnaya_ulitsa_8t/YEgYdQ9oTkQPQFtofXtydXlrZQ==/?ll=41.408777%2C52.734626&utm_medium=mapframe&utm_source=maps&z=13.72"
                   style="color:#eee;font-size:12px;position:absolute;top:14px;">
                    Бастионная улица, 8Т на карте Тамбова
                    — Яндекс Карты
                </a>
                <iframe src="https://yandex.ru/map-widget/v1/?ll=41.408777%2C52.734626&mode=whatshere&whatshere%5Bpoint%5D=41.388718%2C52.734581&whatshere%5Bzoom%5D=17&z=13.72"
                        width="560" height="400" frameborder="1" allowfullscreen="true"
                        style="position:relative;"></iframe>
            </div>
        </div>
    </section>
{% endblock %}