{% extends 'base.html' %}
{% load static %}
{% block title %}Главная{% endblock %}
{% block content %}
    <section class="intro anim-item" id="intro">
        <div class="container">
            <div class="intro__inner">
							<img src="{% static 'images/banners/1.jpg' %}" alt="баннер">
							<img src="{% static 'images/banners/2.jpg' %}" alt="баннер">
							<img src="{% static 'images/banners/3.jpg' %}" alt="баннер">
							<img src="{% static 'images/banners/4.jpg' %}" alt="баннер">
            </div>
        </div>
    </section>
{% endblock %}