{% extends 'base.html' %}
{% load static %}
{% block title %}Лизинг{% endblock %}
{% block head_page_styles %}
    <link rel="stylesheet" href="{% static 'css/pages/leasing.css' %}"/>
{% endblock %}
{% block content %}
    <section class="subheader">
        <div class="container">
            <div class="subheader__inner">
                <h1 class="title">Лизинг</h1>
                <div class="subheader__breadcrumbs">
                    <a href="{% url 'home' %}" class="subheader__breadcrumbs_breadcrumb">Главная</a>
                    <a href="{% url 'services.leasing' %}" class="subheader__breadcrumbs_breadcrumb">Лизинг</a>
                </div>
            </div>
        </div>
    </section>
    <section class="leasing" id="leasing">
        <div class="container">
            <div class="leasing__inner anim-item">
                <h2>Раскрывайте потенциал бизнеса с лизингом от ExpO Weld</h2>
                <div class="leasing__text">
                    <p>Лизинг оборудования имеет несколько ключевых преимуществ:</p>
                    <ul class="leasing__list">
                        <li>
                            <b>Сохранение капитала:</b> Лизинг позволяет сохранить денежные средства для других нужд, таких как
                            инвестиции в развитие бизнеса, маркетинг или наем персонала.
                        </li>
                        <li>
                            <b>Доступность:</b> Лизинг делает дорогостоящее оборудование более доступным для малых и средних
                            бизнесов, которые могут не иметь достаточного капитала для покупки его в собственность.
                        </li>
                        <li>
                            <b>Гибкость:</b> Лизинговые соглашения могут быть гибкими и адаптированными под конкретные
                            потребности бизнеса. Например, после истечения срока лизинга, вы можете продлить договор,
                            выкупить оборудование или заменить его на более современное.
                        </li>
                        <li>
                            <b>Обновление оборудования:</b> В области, где технологии быстро устаревают, лизинг может быть
                            более выгодным решением. После истечения срока лизинга, вы можете заменить оборудование на
                            более современное, не тратя деньги на покупку нового.
                        </li>
                        <li>
                            <b>Налоговые льготы:</b> В некоторых странах, платежи по лизингу могут быть признаны расходами и
                            вычетены из налогооблагаемой прибыли.
                        </li>
                        <li>
                            <b>Сокращение рисков:</b> При лизинге поставщик оборудования несет риски, связанные с амортизацией
                            и устареванием оборудования.
                        </li>
                        <li>
                            <b>Техническая поддержка и обслуживание:</b> Многие лизинговые компании предоставляют техническую
                            поддержку и обслуживание оборудования в рамках договора лизинга.
                            Широкий ассортимент сварочного оборудования от ведущих мировых брендов
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
{% endblock %}