{% extends 'base.html' %}
{% load static %}
{% block title %}Демонстрация{% endblock %}
{% block head_page_styles %}
    <link rel="stylesheet" href="{% static 'css/pages/about.css' %}"/>
{% endblock %}
{% block content %}
    <section class="subheader">
        <div class="container">
            <div class="subheader__inner">
                <h1 class="title">Демонстрация</h1>
                <div class="subheader__breadcrumbs">
                    <a href="{% url 'home' %}" class="subheader__breadcrumbs_breadcrumb">Главная</a>
                    <a href="{% url 'services.demonstration' %}"
                       class="subheader__breadcrumbs_breadcrumb">Демонстрация</a>
                </div>
            </div>
        </div>
    </section>
    <section class="about" id="about">
        <div class="container">
            <div class="about__inner anim-item">
                <h2>Демонстрация сварочного оборудования от ExpO Weld</h2>
                <div class="about__text">
                    <p>
                        Наша демонстрация нацелена на то, чтобы помочь вам лучше понять преимущества и особенности
                        нашего оборудования. Вы сможете увидеть в действии наши сварочные аппараты, оценить их
                        производительность и качество сварного шва. Наши эксперты проведут вас по всему процессу, от
                        выбора правильного оборудования до настройки параметров сварки.
                    </p>
                    <p>
                        В ходе демонстрации вы узнаете о различных типах сварочных работ, которые можно выполнять с
                        помощью нашего оборудования. Мы покажем вам, как работать с разными материалами, от стали до
                        алюминия, и как добиваться наилучших результатов.
                    </p>
                    <p>
                        Наша демонстрация - это не только возможность увидеть наше оборудование в действии, но и
                        отличный шанс задать все вопросы, которые вас интересуют. Наши специалисты готовы предоставить
                        вам профессиональные советы и рекомендации, чтобы помочь вам сделать правильный выбор.
                    </p>
                    <p>
                        Мы предоставляем все необходимое сварочное оборудование и инструменты, а также персональные
                        средства защиты. Наши специалисты тщательно проверяют оборудование перед демонстрацией, чтобы
                        гарантировать его безопасность и надежность.
                    </p>
                    <p>
                        Вы сможете оценить эффективность, скорость и точность,
                        а также узнать, как наши товары могут помочь вам в вашей работе.
                    </p>
                    <p>
                        Мы гордимся тем, что наше оборудование используется в самых разных отраслях промышленности, от
                        строительства до автомобилестроения. Наша демонстрация покажет вам, почему наши сварочные
                        аппараты так высоко ценятся профессионалами во всем мире.
                    </p>
                    <h3>
                        Присоединяйтесь к нашей демонстрации и увидите, как Expo Weld меняет мир сварки. Мы ждем вас!
                    </h3>
                </div>
            </div>
        </div>
    </section>
{% endblock %}