{% extends 'base.html' %}
{% load static %}
{% block title %}Доставка{% endblock %}
{% block head_page_styles %}
    <link rel="stylesheet" href="{% static 'css/pages/about.css' %}"/>
{% endblock %}
{% block content %}
    <section class="subheader">
        <div class="container">
            <div class="subheader__inner">
                <h1 class="title">Доставка</h1>
                <div class="subheader__breadcrumbs">
                    <a href="{% url 'home' %}" class="subheader__breadcrumbs_breadcrumb">Главная</a>
                    <a href="{% url 'services.demonstration' %}"
                       class="subheader__breadcrumbs_breadcrumb">Доставка</a>
                </div>
            </div>
        </div>
    </section>
    <section class="about" id="about">
        <div class="container">
            <div class="about__inner anim-item">
                <h2>Доставка сварочного оборудования от Expo Weld</h2>
                <div class="about__text">
                    <p>
                        Доставка сварочного оборудования - это удобный и надежный способ получить
                        необходимое оборудование прямо к вашему объекту!
                    </p>
                    <p>
                        Мы понимаем, что доставка сварочного оборудования может быть сложной задачей, особенно если речь
                        идет о крупногабаритных и тяжелых аппаратах. Поэтому мы предлагаем профессиональную доставку по
                        Тамбову, которая поможет вам быстро и безопасно доставить необходимое оборудование.
                    </p>
                    <p>
                        Наша доставка предусматривает транспортировку сварочного оборудования любых размеров и веса по
                        всему Тамбову. Мы используем только надежные транспортные средства и специальное оборудование
                        для безопасной перевозки грузов. Благодаря этому мы можем гарантировать, что ваше оборудование
                        будет доставлено в исправном состоянии и в срок.
                    </p>
                    <p>
                        Наши водители и грузчики имеют многолетний опыт работы в сфере транспортировки сварочного
                        оборудования. Мы тщательно проверяем всех сотрудников и обучаем их правилам безопасности при
                        перевозке грузов. Благодаря этому мы можем гарантировать высокое качество нашей доставки и
                        безопасность вашего оборудования.
                    </p>
                    <p>
                        Наша доставка сварочного оборудования - это не только возможность быстро и безопасно
                        получить необходимое оборудование, но и шанс сэкономить средства на дорогостоящих перевозках. Мы
                        всегда готовы предоставить вам профессиональные советы по транспортировке сварочного
                        оборудования, чтобы помочь вам выбрать наиболее подходящий способ доставки.
                    </p>
                    <p>
                        Доверяйте доставку сварочного оборудования профессионалам от Expo Weld! Мы всегда
                        готовы помочь вам быстро и безопасно получить необходимое оборудование.
                    </p>
                </div>
            </div>
            <div class="about__inner anim-item">
                <h2>Бесплатная доставка до терминала Транспортной компании!</h2>
                <div class="about__logos">
                    <img src="{% static 'images/delivery/dellin.jpg' %}" alt="Деловые линии">
                    <img src="{% static 'images/delivery/pek.jpeg' %}" alt="ПЭК">
                    <img src="{% static 'images/delivery/baykal-servis.jpg' %}" alt="Байкал">
                    <img src="{% static 'images/delivery/kit.jpg' %}" alt="КИТ">
                    <img src="{% static 'images/delivery/sdek.jpg' %}" alt="СДЭК">
                </div>
            </div>
        </div>
    </section>
{% endblock %}