{% extends 'base.html' %}
{% load static %}
{% block title %}Гарантия{% endblock %}
{% block head_page_styles %}
    <link rel="stylesheet" href="{% static 'css/pages/about.css' %}"/>
{% endblock %}
{% block content %}
    <section class="subheader">
        <div class="container">
            <div class="subheader__inner">
                <h1 class="title">Гарантия</h1>
                <div class="subheader__breadcrumbs">
                    <a href="{% url 'home' %}" class="subheader__breadcrumbs_breadcrumb">Главная</a>
                    <a href="{% url 'services.demonstration' %}"
                       class="subheader__breadcrumbs_breadcrumb">Гарантия</a>
                </div>
            </div>
        </div>
    </section>
    <section class="about" id="about">
        <div class="container">
            <div class="about__inner anim-item">
                <h2>Гарантийное и постгарантийное обслуживание сварочного оборудования от ExpO Weld</h2>
                <div class="about__text">
                    <p>
                        Гарантийное и постгарантийное обслуживание сварочного оборудования от Expo Weld - это надежная
                        защита ваших инвестиций!
                    </p>
                    <p>
                        Мы понимаем, что приобретение сварочного оборудования - серьезное вложение средств, и вы
                        хотите быть уверенными в том, что ваше оборудование будет работать надежно и эффективно в
                        течение всего срока службы. Поэтому мы предлагаем профессиональное гарантийное и постгарантийное
                        обслуживание, которое поможет вам сохранить ваше оборудование в отличном рабочем состоянии.
                    </p>
                    <p>
                        Наше гарантийное обслуживание предусматривает бесплатный ремонт или замену оборудования в случае
                        возникновения неисправностей в течение гарантийного срока. Мы гарантируем, что все работы будут
                        выполнены в кратчайшие сроки и с использованием только оригинальных запчастей.
                    </p>
                    <p>
                        Данное обслуживание предусматривает регулярное техническое обслуживание и ремонт
                        оборудования после истечения гарантийного срока. Мы предоставляем широкий спектр услуг, от
                        профилактического обслуживания до комплексного ремонта, чтобы помочь вам продлить срок службы
                        вашего оборудования и сохранить его эффективность.
                    </p>
                    <p>
                        Наши специалисты имеют многолетний опыт в обслуживании сварочного оборудования различных марок и
                        моделей. Мы используем только современное оборудование и оригинальные запчасти для обслуживания
                        и ремонта. Благодаря этому мы можем гарантировать высокое качество наших услуг и надежность
                        вашего оборудования.
                    </p>
                    <p>
                        Обслуживание - это не только возможность сохранить ваше
                        оборудование в отличном рабочем состоянии, но и шанс сэкономить средства на дорогостоящих
                        ремонтах в будущем. Мы всегда готовы предоставить вам профессиональные советы по техническому
                        обслуживанию и уходу за оборудованием, чтобы помочь вам избежать поломки в будущем.
                    </p>
                    <p>
                        Доверяйте гарантийное и постгарантийное обслуживание сварочного оборудования профессионалам от
                        Expo Weld! Мы всегда готовы помочь вам сохранить ваше оборудование в отличном рабочем
                        состоянии.
                    </p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}