{% extends 'base.html' %}
{% load static %}
{% block title %}{{ brand.name }}{% endblock %}
{% block head_page_styles %}
    <link rel="stylesheet" href="{% static 'css/pages/brands.css' %}"/>
{% endblock %}
{% block content %}
    <section class="subheader">
        <div class="container">
            <div class="subheader__inner">
                <h1>{{ brand.name }}</h1>
                <div class="subheader__breadcrumbs">
                    <a href="{% url 'home' %}" class="subheader__breadcrumbs_breadcrumb">Главная</a>
                    <a href="{% url 'brand_list' %}" class="subheader__breadcrumbs_breadcrumb">Бренды</a>
                </div>
            </div>
        </div>
    </section>
    <section class="brand anim-item">
        <div class="container">
            <div class="brand__inner">
                <div class="brand__left">
                    {% if brand.brand_site %}
                        <a href="{{ brand.brand_site }}">{{ brand.name }}</a>
                    {% else %}
                        <h2>{{ brand.name }}</h2>
                    {% endif %}

                    <p class="brand__description">
                        {{ brand.description }}
                    </p>
                </div>
            
                {% if brand.brand_site %}
                    <a href="{{ brand.brand_site }}" class="brand__logo">
                        <img class="brand__logo" src="{{ brand.logo.url }}" alt="{{ brand.name }}: логотип">
                    </a>
                {% else %}
                    <img class="brand__logo" src="{{ brand.logo.url }}" alt="{{ brand.name }}: логотип">
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}