{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block title %}
    Каталог
{% endblock %}
{% block head_page_styles %}
    <link rel="stylesheet" href="{% static 'css/pages/catalog.css' %}"/>
{% endblock %}
{% block content %}
    <section class="subheader">
        <div class="container">
            <div class="subheader__inner">
                <h1>Каталог</h1>
                <div class="subheader__breadcrumbs">
                    <a href="{% url 'home' %}" class="subheader__breadcrumbs_breadcrumb">Главная</a>
                    <a href="{% url 'category_list' %}" class="subheader__breadcrumbs_breadcrumb">Каталог</a>
                </div>
            </div>
        </div>
    </section>
    <section class="catalog anim-item">
        <div class="container">
            <div class="category__list">
                {% for category in category_list|dictsort:"position" %}
                    <div class="category__item">
                        <h2>{{ category.name }}</h2>
                        {% if category.products.all|length != 0 %}
                            <div class="popular_products__block">
                                {% for product in category.products.all|slice:":10" %}
                                    <div class="card__item">
                                        <a href="{% url 'product_detail' slug=product.slug %}"
                                           class="card__item__img">
                                            {% if product.first_image %}
                                                <img src="{{ product.first_image.image.url }}"
                                                     alt="{{ product.name }}"/>
                                            {% else %}
                                                <img src="https://place-hold.it/250x270" alt="{{ product.name }}"/>
                                            {% endif %}
                                        </a>
                                        <div class="card__item__title">
                                            <span>Артикул: {{ product.article }}</span>
                                            <a href="{% url 'product_detail' slug=product.slug %}">{{ product.name|truncatechars:25 }}</a>
                                        </div>
                                        <p class="card__item__description">{{ product.short_description|truncatechars:200 }}</p>
                                        <div class="card__item__price">
                                            <span>Цена:</span>
                                            <span>
                                                {% if product.price == 0 %}
                                                    Не указана
                                                {% else %}
                                                    {{ product.price|intcomma }} ₽
                                                {% endif %}
                                            </span>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            <a class="button popular_products__link"
                               href="{% url 'category_detail' slug=category.slug %}"><span>Посмотреть всё</span></a>
                        {% else %}
                            <h4>Товары ещё не добавлены</h4>
                        {% endif %}
                    </div>
                {% empty %}
                    <h2 class="catalog__empty">Категорий ещё не добавлены</h2>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
