{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block title %}
    Каталог - {{ product.name }}
{% endblock %}
{% block head_page_styles %}
    <link rel="stylesheet" href="{% static 'css/pages/product.css' %}"/>
{% endblock %}
{% block content %}
    <section class="subheader">
        <div class="container">
            <div class="subheader__inner">
                <h1>{{ product.name }}</h1>
                <div class="subheader__breadcrumbs">
                    <a href="{% url 'home' %}" class="subheader__breadcrumbs_breadcrumb">Главная</a>
                    <a href="{% url 'category_list' %}" class="subheader__breadcrumbs_breadcrumb">Каталог</a>
                </div>
            </div>
        </div>
    </section>
    <section class="product anim-item">
        <div class="container">
            <div class="product__inner">
                <div class="product__head">
                    <div class="product__images">
                        {% if product.productimage_set.all|length != 0 %}
                            {% for image_item in product.productimage_set.all %}
                                <img src="{{ image_item.image.url }}" alt="фото товара">
                            {% endfor %}
                        {% else %}
                            <img src="https://place-hold.it/700x500&text=Нет%20изображения&bold&fontsize=16" alt="">
                        {% endif %}
                    </div>
                    <div class="product__stats">
                        <h3>{{ product.name }}</h3>
                        <p class="product__article">Артикул: {{ product.article }}</p>
                        <p class="product__description">{{ product.short_description }}</p>
                        <div class="product__price">
                            <span>Цена:</span>
                            <span>{{ product.price|intcomma }} ₽</span>
                        </div>
                    </div>
                </div>
                <div class="product__body">
                    {% if product.full_description %}
                        <div class="product__full_description">{{ product.full_description|safe }}</div>
                    {% endif %}
                    {% if product.productspec_set.all|length != 0 %}
                        <div class="product__specs">
                            <h2>Технические характеристики</h2>
                            <table class="product__specs_table">
                                <tbody>
                                {% for spec in product.productspec_set.all %}
                                    <tr>
                                        <th>{{ spec.type.name }}</th>
                                        <th>{{ spec.value }}</th>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% endif %}
                    {% if product.productdocument_set.all|length != 0 %}
                        <div class="product__documents">
                            <h2>Документы</h2>
                            <div class="product__documents__list">
                                {% for document in product.productdocument_set.all %}
                                    <a href="{{ document.url }}" target="_blank" download
                                       rel="noopener noreferrer">
                                        <img src="{% static 'images/icons/document.svg' %}" alt="Документ">
                                        {{ document.name }}
                                    </a>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}